---
layout: default
title: Deepak Dargade
subheading: I'm a Mumbai-based Entrepreneur, Ruby on Rails monomaniac and Food enthusiast.
---

{% for post in paginator.posts %}
  <section class="container">
    <h5 class="title">
      <a href="{{ post.url }}">{{ post.headline }}</a>
      <br/>
      <small>{{ post.date | date_to_string }}</small>
    </h5>
    <!-- {{ post.excerpt }} -->
    <!-- <a class="" href="{{ post.url }}">Read more</a> -->
  </section>
  <hr class="clearfix" />
{% endfor %}

<br/>

<section class="container">
  <div class="row">
    <div class="column column-50">
      {% if paginator.previous_page %}
        <p class="float-left">
          <a href="{{ paginator.previous_page_path }}">« Previous</a>
        </p>
      {% else %}
        <p class="float-left">
          <span>« Previous</span>
        </p>
      {% endif %}  
    </div>
    <div class="column column-50">
      {% if paginator.next_page %}
        <p class="float-right">
          <a href="{{ paginator.next_page_path }}">Next »</a>
        </p>
      {% else %}
        <p class="float-right">
          <span>Next »</span>
        </p>
      {% endif %}
    </div>
  </div>
</section>
