---
layout: default
title: Hello, I am Deepak Dargade
subheading: starter | co-founder at classpro.in
---

{% for post in paginator.posts %}
<article class="clearfix">
  <div class="post-date">
    {{ post.date | date_to_string }} | <a href="">Deepak Dargade </a>
  </div>    
  <h2><a href="{{ post.url }}">{{ post.headline }}</a></h2>
  <p>{{ post.excerpt }} <a class="" href="{{ post.url }}">Read more</a>
  </p>
</article>
{% endfor %}


<!--div id="pagination" class="the-grid gutters grid-container">
  <div class="grid-12 left">
    {% if paginator.previous_page %}
      <p class="previous">
        <a href="{{ paginator.previous_page_path }}">« Previous</a>
      </p>
    {% else %}
      <p class="previous disabled">
        <span>« Previous</span>
      </p>
    {% endif %}
  </div>
  <div class="grid-6 right pull-right">
    {% if paginator.next_page %}
      <p class="next">
        <a href="{{ paginator.next_page_path }}">Next »</a>
      </p>
    {% else %}
      <p class="next disabled">
        <span>Next »</span>
      </p>
    {% endif %}
  </div>
</div-->