<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="google-site-verification" content="Y8K1CscHwzkRT3EBVghOWZYS9AIHVqbKSg1lCLaSrBY" />
   <title>Deepak Blog | {{ page.title }}</title>
   
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28402987-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      
   <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

<body>
   <div id="wrapper">
   <div id="header">
      <a href="/"><img  src="/static/deepak.jpg" class="profile_pic"></a>
      <h2>Deepak Dargade</h2><br>
      <h4>Co-Founder at Classpro | Ruby on Rails Developer</h4>
   </div>
   <br clear="all">

   <article>
      {{ content }}

   <br><br>
   <h2>Info</h2><br>
   <div class="home_post">
      Hi, I'm Deepak Dargade. I am a rails developer and co-founder at <a href="www.classpro.in">classpro</a>.<br><br>
   </div>
    
   </article>

   <footer>
      <div id="find_me">
         <h4>Find me on:</h4>
         <div id="social_buttons">
            <a href="http://www.facebook.com/deepakdargade" target="_blank"><img src="/static/facebook_32.png" class="thumb_pic" /></a>
            <a href="http://twitter.com/#!/deepakdargade" target="_blank"><img src="/static/twitter_32.png" class="thumb_pic" /></a>
            <a href="http://www.linkedin.com/in/deepakdargade" target="_blank"><img src="/static/linkedin_32.png" class="thumb_pic" /></a>
            <a href="https://github.com/deepakdargade" target="_blank"><img src="/static/github_32.png" class="thumb_pic" /></a>
         </div>
      </div>
      <div id="contact_me">
         <h4>Contact me:</h4>
         <br>
         deepak@classpro.in
      </div>
   </footer>
   </div>
</body>
</html>
